.header {
    width: 100%;
    height: 682px;
    background-image: url(../assets/images/backgrounds/Background_Intro.svg);
    background-repeat: no-repeat;
    text-align: center;
    background-size: 100%;
}

.header .container {
    width: 100%;
    height: 100%;
    max-width: 680px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 80px;
    padding: 24px;
}

.header .area-infos {}

.header .area-infos--photo {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 1px solid var(--red);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 56px;
}

.header .area-infos--photo .container-img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: var(--gray-100);
    overflow: hidden;
}

.header .area-infos--photo .container-img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.header .area-infos--me {}

.header .subtitle {
    color: var(--gray-500);
}
.header .title {
    color: var(--gray-500);
    margin-top: 8px;
    margin-bottom: 20px;
}
.header .description {
    color: var(--gray-400);
}

.header .group-tags {
    gap: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#projects {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}

#projects .container {
    display: flex;
    gap: 40px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
    max-width: 1040px;
    margin: auto;
}

#projects .projects-title-container {
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .projects-container {
    gap: 24px;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    width: 100%;
}

@media (max-width: 700px) {
    #projects .projects-container {
        grid-template-columns: 1fr;
    }
}

#contact {
    width: 100%;
    background-image: url(../assets/images/backgrounds/Background_Contacts.svg);
    background-repeat: no-repeat;
    text-align: center;
    background-size: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

#contact .container {
    width: 100%;
    gap: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
    max-width: 1040px;
}

#contact .contact-title-container {
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contact .contact-social-media-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray-600, #E2E4E9);
    background: var(--gray-300, #0D0E11);
}

#footer .container {
    /*max-width: ;*/
    padding: 12px 24px;
}

